body{
	 font-family: Roboto;    
	 margin: 0;
	 max-width: 1920px;

}
.main-header{
	display: flex;
	text-align: right;

}
.main-header img{
	max-width: 1920px;
	max-height: 911px;
	width: 100%;
}


.main-header ul{
	list-style: none;
	display: inline-flex;
	position: absolute;
	top: 40px;
	right: 30px;
	font-size: 20px;
	text-decoration: none;

	
}.main-header ul li{
	margin-right: 15px;

}

.main-header ul li a{
	text-decoration: none;
	color: white;
}

.main-header i{
	position: absolute;
	top: 40px;
	left: 30px;
	font-size: 60px;
	color: white;
}

.main-header h3{
	position: absolute;
	bottom: 40px;
	left: 170px;
	color: white;
	font-size: 40px;
	text-align: left;
}

.slider{
	text-align: center;
	font-size: 50px;
	color: #2468B9;
}
.main-header h2{
	position: absolute;
	top: 330px;
	left: 540px;
	background-color: #0C6798;
	border-radius: 30px;
	border-left-width: 10px;
	font-size: 30px;
	padding: 10px 100px;

}
.main-header h2 a{
	text-decoration: none;
	color: white;
}
/*Header*/

/*Planes*/
.card {
	width: 330px;
	height: 260px;
	border: 1px solid  #d6d2d2;
	margin-right: 60px;
	margin-left: 70px;
	overflow: hidden;

	color: white;
	margin-bottom: 10px;
	display: inline-flex;
	text-align: center;
	 
 	 background-image: -webkit-linear-gradient(80deg, white 50%, #0C6798 50%);
  
}
.card-body{
	width: 100%;
}


.title-section{
	text-align: center;
	font-size: 40px;
	color: #2468B9;
}
.card-title{
	margin-top: 20%;
	font-size: 20px;
}

.card-title::after{
	content: '';
	background-color: white;
	height: 1px;
	width: 15%;
	margin: 0 auto;
	display: block;
	margin-top: 5px;
}



.card-list {
	list-style: none;
	padding-left: 0;
	text-align: center;
	color: black;
	padding-top: 60px;

}

.card-list li{
	padding-bottom: 5px;
	font-size: 20px;
}

.pro-section{
	background-image: linear-gradient(#19396C, #67E8CF);
  	height: 400px;
}

.columna ul li{
	list-style: none;
	font-size: 40px;
	color: white;
	padding-left: 350px;
	padding-top: 40px;


}
.columna ul{
	padding-top: 40px;
	margin-top: 5%;

}

footer{
	margin-top: 40px;
	background-color: #0C6798;
	padding:5px;
	font-size: 10px;
	color:white;
	text-align: center;
}

/*Pagina de registro*/

.main-header-register{
	background-color: #0C6798;
	text-align: center;
}
.registro{
	margin:0 auto;
	max-width: 400px;
	text-align: center;

}
.main-header-register i{
	font-size: 80px;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;

}

.container-register h2{
margin-top: 50px;
	color:white;
	background-color: #0C6798;
	border-radius: 30px;
	font-size: 20px;
	padding: 25px ;
}
.form-control{
	width:100%;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
	
	margin:7px 0px;
	padding: 5px 0px;
}
.formulario{
	margin:0 auto;
}
.fecha{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 3%

}
.fecha input{
	width:33%;
	font-size: 16px;
}
.lista{
	width:33%;
	margin-right: 30px;
}
.special{
	margin-left: 30px;
	
}
.terminos{
	text-align: left;
	margin-top: 3%;
}
.registro-fin{

	width:60%;
	margin:0 auto;
	margin-top: 50px;
	color:white;
	background-color: #0C6798;
	border-radius: 30px;
	font-size: 10px;
	padding: 2px 5px ;
	

}
.iniciar-sesion {
	width:100%;
	font-size: 8px;
}

 
@media screen and (max-width: 916px){
	body{
		
		
	}
	.main-header{
		margin: 0;
	}
	.main-header h3{
		    bottom: 17px;
   			 left: 38px;
	}
	.main-header h2{
		    top: 200px;
    		left: 263px;

	}
	.main-header ul{
		top: 19px;
    	right: 90px;
    	font-size: 20px;
	}
	.logo .main-menu{
		text-align: center;
		padding-right: 100px;
		padding-top: 50px;
	}

	.logo img{
		margin-left: 120px;
	}
	
	.container{
		text-align: center;
	}
	.card {
		width: 50%;
		margin-bottom: 15px;
	}
	.columna ul li{
		padding: 0;
		margin-left: 20%;
		text-align: left;
		margin-bottom: 35px;
	}
	.footer{
		font-size: 20px;
	}

}

@media screen and (max-width: 761px){
	body{
		
		
	}
	.main-header ul {
    top: 248px;
    right: 90px;
    font-size: 20px;
	}
	.main-header h3{
		top: 39px;
    	left: 330px;
    	margin: 0;
    	font-size: 25px;
	}
	.main-header h2{
		top: 200px;
    	left: 195px;
    	font-size: 20px;
	}
	

}

@media screen and (max-width: 528px){

	.main-header h2 {
	    top: 141px;
	    left: 128px;
	    font-size: 20px;
	}
	.columna ul li {
    list-style: none;
    font-size: 30px;
    
	}

}

@media screen and (max-width: 364px){
	.main-header h3{
		left: 115px;
	}
	.main-header h2 {
    top: 105px;
    left: 59px;
    font-size: 14px;
	}
	.columna ul li {
    list-style: none;
    font-size: 30px;
	}
	.main-header ul {
    top: 163px;
    right: 28px;
    font-size: 14px;
	}
}
